.vscode/
*.exe
*.o

prototype/server/groups.txt
prototype/server/users
prototype/server/server
prototype/server/config.txt
prototype/client/config.txt
prototype/calendar/main
prototype/ui/main


src/server/groups.txt
src/server/users
src/server/config.txt
src/client/config.txt